In [1]:
import pandas as pd
import numpy as np
import os

def produceOneCSV(listOfFiles, fileOut):
    resultObj = pd.concat([pd.read_csv(file) for file in listOfFiles], sort = True)
    resultObj.to_csv(fileOut, index = False, encoding = "utf-8")

In [2]:
ip = '/home/r00t/Work/capstone/Data/Input/'
op = '/home/r00t/Work/capstone/Data/Output/'
os.chdir(ip)

listOfFiles = [file for file in os.listdir()]

In [3]:
for file in listOfFiles:
    df = pd.read_csv(ip + file)
    df.columns = [col.split("|")[0] for col in df.columns]
    df.columns = [col.split("[")[0] for col in df.columns]
    df.to_csv(op + 'clean' + file)

In [6]:
os.chdir(op)

files = [file for file in os.listdir()]

In [9]:
#df.to_csv('cleanFile.csv')

In [29]:
dirtyDf = pd.read_csv('output.csv')
dirtyDf[['Section Code']] = dirtyDf['Section Code'].str.split(".").str[0]

,1st MS Visio Assignment,4/4 Topic and Outline,5/1 Submit 5-minute Powerpoint,Assignment Confirm Syllabus,Attendance,Average HWs,Average HWs and RAs,Average Quizzes,Average Weekly HWs,Average Weekly/HWs and RAs,...,Week 2 Practice Problems Submission,Week 3 Practice Problems Submission,Week 4 Practice Problems Submission,Week 5 Practice Problems Submission,Week 7 Practice Problems Submission,Week 8 Practice Problems Submission,Week 9 Practice Problems Submission,Weighted Total,extra_credit_1,extra_credit_2
0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,80.0,62.00000,NaN,...,0.0,35.0,100.0,71.0,98.0,90.0,97.0,NaN,NaN,NaN
1,NaN,NaN,NaN,0.0,NaN,NaN,NaN,94.0,84.40909,NaN,...,88.0,90.0,100.0,96.0,98.0,100.0,95.0,NaN,NaN,NaN
2,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0,59.54545,NaN,...,84.0,10.0,100.0,96.0,0.0,95.0,100.0,NaN,NaN,NaN
3,NaN,NaN,NaN,0.0,NaN,NaN,NaN,100.0,89.36363,NaN,...,100.0,94.0,100.0,96.0,94.0,92.0,100.0,NaN,NaN,NaN
4,NaN,NaN,NaN,0.0,NaN,NaN,NaN,92.0,78.45454,NaN,...,94.0,95.0,100.0,94.0,96.0,100.0,100.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068,NaN,NaN,NaN,NaN,NaN,44.3,NaN,47.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1069,NaN,NaN,NaN,NaN,NaN,70.3,NaN,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1070,NaN,NaN,NaN,NaN,NaN,90.7,NaN,75.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1071,NaN,NaN,NaN,NaN,NaN,12.5,NaN,48.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072,NaN,NaN,NaN,NaN,NaN,69.5,NaN,90.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
dirtyDf = dirtyDf.replace(['Needs Grading*', 'In Progress*', 'Complete'], 0, regex=True)

In [34]:
dirtyDf = dirtyDf.replace(np.nan, 0)

In [41]:
dirtyDf.to_csv('washingPowderNirma.csv', index = False, encoding = "utf-8")

In [15]:
fileOut = "output.csv"
produceOneCSV(files, fileOut)

In [7]:
final_df = pd.DataFrame()

for file in files:
    df = pd.read_csv(file)
    df = pd.melt(df, id_vars=['Key'])
    final_df = pd.concat((final_df, df), axis=0)

In [13]:
final_df

                                      Key      variable     value
0     b'58a8dd8d9f0758792968f100f60b8901'    Unnamed: 0         0
1     b'bbe3ee9e6d0f7d5a8444ea58dac5e08f'    Unnamed: 0         1
2     b'89913b48d99d87c2662d6c24c6bfa682'    Unnamed: 0         2
3     b'4c6bb318437e9cdad99496fdde382ecf'    Unnamed: 0         3
4     b'30ee8b97d0ed7b21ef7e63fb710d2cff'    Unnamed: 0         4
...                                   ...           ...       ...
2599  b'59395a751e46c2859bf8dfec341a084d'  Section Code  s007.csv
2600  b'e4ff5529a06bc90decf69bbec9cc2351'  Section Code  s007.csv
2601  b'9e69d38dc9e20abf2b0a8a68d6e2aca2'  Section Code  s007.csv
2602  b'06895c6a076a25252170c4e1d7166255'  Section Code  s007.csv
2603  b'3257fd07e3301943a4b2ea0a2e92a955'  Section Code  s007.csv

[99114 rows x 3 columns]

In [10]:
finalDf = final_df.drop_duplicates('Key')

In [11]:
cleanDf = finalDf.pivot(index='Key', columns='variable', values='value')

In [12]:
cleanDf.to_csv(op + 'fileOut.csv', index = False, encoding = "utf-8")